*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

img{
    position: absolute;
    height: 70%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1), 1s;
    filter: grayscale();
}

#one{
    left: 20%;   
}
#two{
    left: 50%;  
}
#three{
    left: 80%;
}

img:hover{
    height: 89%;
    filter: grayscale(0);
    transform: translate(-50%,-50%) rotate(0deg);
}